.info {
    border-bottom: 1px solid #e7e9fc;
}

.info-container .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.menu-info {
    display: flex;
    gap: 40px;
}

.address-ul {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.logo-ulstudio:hover {
    color: #404bbf;
}

.logo-ulstudio:focus {
    color: #404bbf;
}

.link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-address:hover {
    color: #404bbf;
}

.link-address:focus {
    color: #404bbf;
}

.info-container {
    display: flex;
    align-items: center;
    /* Центрируем по вертикали все три блока */
}

/* Убрали margin-right: 76px, так как логотип больше не в nav */
.nav-info {
    display: flex;
    align-items: center;
}

/* Убрали внутренние отступы у элементов списка (li) */
.menu-info-pynkt {
    /* Удалите отсюда padding */
}

/* Добавили display: block и перенесли отступы сюда */
.logo-ulstudio {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

/* Прижимаем блок контактов к правому краю */
.hea-address {
    font-style: normal;
    margin-left: auto;
}