.beginning {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.beginning-head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffff;
    max-width: 496px;
    margin: 0 auto 48px auto;
    /* Центрируем по горизонтали + отступ 48px вниз */
}

.beginning-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    /* Добавили отступы вместо фиксированной height */
    margin: 0 auto;
    /* Центрируем кнопку по горизонтали */
    border: none;
    border-radius: 4px;
}

.beginning-button:hover {
    background-color: #404BBF;
}

.beginning-button:focus {
    background-color: #404BBF;
}