body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.logo-ulstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.logo-ulstudio:hover {
    color: #404bbf;
}

.logo-ulstudio:focus {
    color: #404bbf;
}

.hea-address {
    font-style: normal;
}

.link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-address:hover {
    color: #404bbf;
}

.link-address:focus {
    color: #404bbf;
}

.beginning {
    background-color: #2e2f42;
}

.beginning-head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffff
}

.beginning-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.beginning-button:hover {
    background-color: #404BBF;
}

.beginning-button:focus {
    background-color: #404BBF;
}

.description-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.team-hj {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-li {
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.logoj {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studioj {
    color: #F4F4FD;
}

.footer-title {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.info {
    border-bottom: 1px solid #e7e9fc;
}

.info-container {
    display: flex;
}

.info-container .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.nav-info {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.menu-info {
    display: flex;
    gap: 40px;
}

.menu-info-pynkt {
    padding: 24px 0 24px;
}

.address-ul {
    display: flex;
    gap: 40px;
}